extends layout.pug
block content
  .container-fluid
    h1.text-center.font-weight-bold.pb-3
      | #{t('templates.users.profile', currentLang)}
    .d-flex.align-items-center.justify-content-center
      form(action=`${routes.updateUserPath(updateUserDto.id)}`, method="post" )
        input(type="hidden", name="_method", value="put")
        div.mb-3
          label.form-label(for="username") #{t('templates.users.username', currentLang)}
          input.form-control(id="username" name="username" type="text" value=updateUserDto.username)
          if status === 'validationFailed' && errors.username
            .alert.alert-warning(role="alert") #{t(`templates.validation.${errors.username.message}`, currentLang)}
        div.mb-3
          label.form-label(for="email") #{t('templates.users.email', currentLang)}
          input.form-control(id="email" name="email" type="email" value=updateUserDto.email)
          if status === 'validationFailed' && errors.email
            .alert.alert-warning(role="alert") #{t(`templates.validation.${errors.email.message}`, currentLang)}
        div.mb-3
          label.form-label(for="status") #{t('templates.users.role', currentLang)}
          select.form-select(id="status" name="isAdmin")
            option(value="false" selected=!updateUserDto.isAdmin) #{t('templates.users.user', currentLang)}
            option(value="true" selected=updateUserDto.isAdmin) #{t('templates.users.administrator', currentLang)}
        button.btn.btn-primary(type="submit") #{t('templates.users.save', currentLang)}